
<div class="form-group input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i [class]="icon"></i>
    </span>
  </div>
  <input
  value="Default Value"
    type="text"
    [id]="label"
    [formControl]="control"
    [type]="type"
    [(ngModel)]="default"
    [placeholder]="placeholder"
    class="form-control"




    [ngClass]="{
      'is-invalid': control.touched && control.invalid,
      'is-valid': !control.invalid
    }"
  />
  <div *ngIf="control.touched && control.invalid" class="invalid-feedback">
    <div *ngIf="control.invalid">{{placeholder}} is required!</div>
  </div>
</div>


