.input-group-prepend.align-items-center {
    display: flex;
    align-items: center;
    height: 40px; /* Adjust the height as needed */
    border-color: transparent;
  }
  
  .input-group-prepend .input-group-text {
    height: 100%; 
    width: 40px;
    background-color: transparent;
    border-color: transparent;
    
  }
  
  .form-control {
    height: 100%; 
    background-color: transparent;
  }
  .row{
    margin-top: 20px;

  }
.vh-100{
    top: -3vh;
    position: relative;
    border-color: transparent;
}

.form-group{
  margin-top: 10px;
  margin-bottom: 15px;
  border-color: transparent;
}