<!-- chat-users.component.html -->
<div class="card-body contacts_body">
  <div class="settings-tray bd-highlight">
    <div class="row align-items-center">
      <div class="col-3 text-center">
        <img class="rounded-circle user_img" src="{{profilePic}}" alt="Profile img" />
      </div>
      <div class="col-9">
        <div class="d-flex justify-content-between align-items-center"> <!-- Added 'justify-content-between' to push the cog icon to the right -->
          <p class="profile-name">{{profileName}}</p>
          <span class="settings-tray--right">
            <i class="fa fa-cog"></i>
          </span>
        </div>
      </div>
    </div>
    
  

  </div>

  <div class="col">
    <div class="card-header">
      <div class="input-group align-items-center">
        <input
          type="text"
          placeholder="Search..."
          name=""
          class="form-control search"
          [(ngModel)]="searchText"

          (keyup)="onKeyUp($event)"
        />
        <div class="input-group-prepend">
          <span class="input-group-text search_btn" >
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="card card-body contacts_body">
      <div class="card-body">
        <ul class="list-unstyled mb-0">
          <li *ngFor="let userId of userIds">
            <app-chat-user [user]="getUserById(userId)" [id]="userId"></app-chat-user>
          </li>
        </ul>
       
      </div>
    </div>
  </div>
</div>
