<div *ngIf="message?.recipientId == targetUserID" class="d-flex justify-content-start mb-4">
  <div class="img_cont_msg">
    <img src="{{ this.profilePic }}" class="rounded-circle user_img_msg" />
  </div>
<div class="msg_cotainer_send">

  <div style="margin-bottom: -1vh;">
    <div class="ms-3" style="border-radius: 15p;margin-bottom: -1vh;" *ngIf="message?.attachment">
      <div class="bg-image" *ngIf="message?.attachment">
        <app-image-modal [modalImageUrl]="message.attachment"></app-image-modal>
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>
    </div>

    <p class="msg">{{ message.text }}</p>
  </div>
  <span class="msg_time" style="white-space: nowrap">{{ formattedTimestamp }}</span>
</div>
</div>

<div *ngIf="message?.recipientId != targetUserID" class="d-flex justify-content-end mb-4">

<div class="msg_cotainer"> 
 <div class="ms-3" style="border-radius: 15px;margin-bottom: -1vh" *ngIf="message?.attachment">
  <div class="bg-image" *ngIf="message?.attachment">
    <app-image-modal [modalImageUrl]="message.attachment"></app-image-modal>
    <a href="#!">
      <div class="mask"></div>
    </a>
  </div>
</div>
<div>
  {{ message.text }}

</div>
<span class="msg_time_send" style="white-space: nowrap">{{ formattedTimestamp }}</span>
</div>
<div class="img_cont_msg">
  <img src="{{ user.avatar }}" class="rounded-circle user_img_msg" />
</div>
</div>




