<div
  *ngIf="message?.recipientId == targetUserID"
  class="d-flex justify-content-start mb-4"
>
  <div class="img_cont_msg">
    <img
      src={{user?.avatar}}
      class="rounded-circle user_img_msg"
    />
  </div>
  <div class="msg_cotainer">
 
    <span class="msg_time">8:40 AM, Today</span>
    <div class="ms-3 " style="border-radius: 15px;" *ngIf="message?.attachment">
      <div class="bg-image" *ngIf="message?.attachment">
        <img src={{message?.attachment}} class="attachment"
          style="border-radius: 15px;" alt="video">
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>
    </div>
 <p class="msg">   {{ message?.text }}</p>
  </div>
  
</div>
<div
  *ngIf="message?.recipientId != targetUserID"
  class="d-flex justify-content-end mb-4"
>
  <div class="msg_cotainer_send">
    {{ message?.text }}
    <span class="msg_time_send">8:55 AM, Today</span>
    <div class="ms-3 " style="border-radius: 15px;" *ngIf="message?.attachment">
      <div class="bg-image" *ngIf="message?.attachment">
        <img src={{message?.attachment}} class="attachment"
          style="border-radius: 15px;" alt="video">
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="img_cont_msg">
    <img
    src={{user?.avatar}}
      class="rounded-circle user_img_msg"
    />
  </div>
</div>
<div class="d-flex flex-row justify-content-start mb-4">


</div>