<footer class="Footer" style="display: flex; align-items: center;">


        <p style="margin-right: 10px;">Created By Vibhusha Kannangara © 2023 Copyright: <a style="color: black;" href="http://52.65.35.114:3000/home">vibhushakannangara.com</a></p>
       

    <ul class="Footer-items" style="list-style: none; display: flex; padding: 0; margin: 0;">
      <li class="Footer-item" style="margin-right: 10px;">
        <a target="_blank" href="https://web.facebook.com/vibusha.kannangara" class="Footer-link">
          <span class="Footer-icon fa fa-facebook"></span>
        </a>
      </li>
      <li class="Footer-item" style="margin-right: 10px;">
        <a target="_blank" href="https://github.com/Lakshan-Vibhusha-Kannangara" class="Footer-link">
          <span class="Footer-icon fa fa-github"></span>
        </a>
      </li>
      <li class="Footer-item" style="margin-right: 10px;">
        <a target="_blank" href="http://52.65.35.114:3000/home" class="Footer-link">
          <span class="Footer-icon fa fa-codepen"></span>
        </a>
      </li>
      <li class="Footer-item" style="margin-right: 10px;">
        <a target="_blank" href="www.linkedin.com/in/vibhoosha-kannangara" class="Footer-link">
          <span class="Footer-icon fa fa-linkedin"></span>
        </a>
      </li>
      <li class="Footer-item">
        <a target="_blank" href="vibhooshakannangara@gmail.com" class="Footer-link">
          <span class="Footer-icon fa fa-envelope"></span>
        </a>
      </li>
    </ul>
  </footer>
  